.HouseList__container{
    
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

}

.Houses__container h2 {
    font-family: 'Lato';
    font-size: 28px;
    margin-left: 10px;
}


.single__house {
    
    max-width: 400px;
    max-height: 400px;
    
    margin-bottom: 20px;
}

.single__house  img {
   max-width:100%;
   max-height: 100%;
}

.single__house  img:hover {
    filter: brightness(40%);
}
.single__house .House__price {
    font-family: 'Lato';
    margin: 12px;
}

.single__house .House__summary {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    margin-left: 12px;
}

.House__price {
    font-weight: 700;

}



@media (min-width: 700px) {

    .HouseList__container{
        margin-top: 3.5em;
        padding: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    
    .Houses__container h2 {
        font-family: 'Lato';
        font-size: 28px;
        margin-left: 10px;
    }
    .single__house hr {
     
        margin-bottom: 10px;
        height: 4px;
        border: none;
        /* color: green; */
        background: #1a53ff
    }
    
    .single__house {
        margin: 15px;
        max-width: 400px;
        min-height: 425px;
        margin-left: 0.5em;
        margin-bottom: 1em;
        background: #eeeeee;
        
    }
    
    .single__house  img {
       max-width:100%;
       max-height: 100%;
       transition: 0.6s ease-in-out;
      
    }

    .single__house  img:hover {
        filter: brightness(40%);
        
    }
    .single__house .House__price {
        font-family: 'Lato';
        margin: 12px;
    }
    
    .single__house .House__summary {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 20px;
        margin-left: 12px;
    }
    
    .House__price {
        font-weight: 700;
    
    }
}