


.navbar {
    border-bottom: 1px solid #e5e5e5;
}
.navbar .logo {
    width: 120px;
}

.navbar .navbar-nav .nav-link a {
    font-family: "Lato";
    color: #111;
}

@media (min-width:992px){
    .navbar{
        height: 70px;
        padding: 1rem 2rem;
        border-bottom: 1px solid #e5e5e5;
    }
    .navbar .logo {
        width: 150px;
    }
    .navbar .navbar-nav .nav-link a {
        font-family: "Lato";
        color: #111;
    }

}





/* 
.navbar .container-fluid {
   max-height: 70px !important;
}



@media(min-width: 887px) {

    .navbar {
        height: 70px;
    }

}

@media(min-width: 687px) {

    .navbar {
        height: 70px;
    }

} */


    
    /* .navbar {
        height: 70px;
        background: #fff;
        padding: 2rem 2rem;
        border-bottom: solid 1px #e5e5e5;
    }
    
    
    .navbar .navbar-nav .nav-link {
        text-decoration: none !important;
       
       
        font-size: 18px;
        font-weight: 300;
     
    }

    .navbar .navbar-nav .nav-link a {
        font-family: "Lato";
        color: #111;
    }

} */ 

